body {
    background-color: #0b004e; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    padding: 30px;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    color: white;
}

input, .result div {
    width: 100%;
    max-width: 400px; 
    padding: 15px;
    border: 2px solid #e0aa3e;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
    font-size: 16px;
    margin-bottom: 15px; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

button {
    width: 100%;
    max-width: 400px; 
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 15px; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.result {
    display: none;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #e0aa3e;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.result.show {
    display: block;
}
